aside { 
	width:50%;
  background:#FFFFFF; 
  display: flex; 
      align-items: left;
  grid-template-columns: 1fr ; 
  grid-template-rows: 1fr ; 
  grid-template-areas: 
    "Rezepte";
} 

.containerLeftTab {
  display: grid; 
  grid-template-columns: 1fr ; 
  grid-template-rows: 1fr ; 
  grid-template-areas: 
    "Rezepte"; 
}

.myButton {
  width: 100%; height: auto;
  color: rgb(0, 0, 0); 
  font-size: 15px; line-height: 15px;
  padding: 6px; border-radius: 2px; 
  font-family: Arial, serif; 
  background: rgb(255,255,255); 
  border: 2px solid rgb(255, 255, 255); 
  display: inline-block;
  text-shadow: 0px 2px 4px rgba(180,180,180,0.69);
}
.myButton:hover {
  background: #A8A8A8; }
.myButton:active {
  background: #595959; }
  
 li {
    list-style-type: none;
} 
