<div class="container">
    <h1>Rezept hinzufügen</h1>
    <p>Bitte fülle die Felder aus, um ein Rezept deiner Wahl mit weiteren Nutzern zu teilen.</p>
    <hr>

    <label class="labelText" for="title"><b>Titel</b></label>
    <input type="text" placeholder="Titel eingeben..." name="title" required>
	<br>
    <label class="labelText" for="ingrediants"><b>Zutaten</b></label>
    <input type="text" placeholder="Zutaten eingeben (benutze zur Trennung ein Komma)" name="ingrediants" required>
	<br>
    <label class="labelText" for="instructions"><b>Zubereitung</b></label>
    <input type="text" placeholder="Zubereitung eingeben... (benutze zur Trennung ein Komma)" name="instructions" required>
	<br>
    <div class="clearfix">
      <button type="button" onclick="window.location.href='mainview.html'" class="cancelbtn">Zurück</button>
      <button type="submit" onclick="window.location.href='mainview.html'" class="signupbtn">Hinzufügen</button>
    </div>
  </div>