<div class="container">
     <h1>Anmeldung</h1>
    <p>Bitte gebe Usernamen und Passwort ein, um dich anzumelden.</p>
    <hr>

    <label class="labelText" for="uname"><b>Username</b></label>
    <br>
    <input type="text" placeholder="E-Mail eingeben..." name="uname" required>
	<br>
    <label class="labelText" for="psw"><b>Passwort</b></label>
    <br>
    <input type="password" placeholder="Passwort eingeben..." name="psw" required>
	<br>
    <div class="clearfix">
      <button type="button" onclick="window.location.href='mainview.html'" class="cancelbtn">Zurück</button>
      <button type="submit" onclick="window.location.href='mainview.html'" class="signupbtn">Anmelden</button>
    </div>
  </div>